<section data-ng-controller="VideosController">
    <div class="page-header">
        <h1>New Video</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Video's Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="language">Language</label>
                    <div class="controls">

                      <select id="language" class="form-control glowing-border" ng-model="language" required>
                            <option style="color:gray" value="" disabled="true">Select the video's language</option>
                            <option  value="speech" >English</option>
                            <option  value="learn">Spanish</option>

                      </select>

                    </div>
                </div>
                <div class="form-group">
                  <div class="checkbox check-info">
                    <input ng-model="checkUploadVal" type="checkbox" value="1" id="checkbox4">
                    <label for="checkbox4">Upload File</label>

                  </div>
                </div>

                <div class="form-group" ng-hide="checkUpload()">
                    <label class="control-label" for="url">Url</label>
                    <div class="controls">
                        <input type="text" data-ng-model="url" id="url" class="form-control" placeholder="Url" required>
                    </div>
                </div>
                <div class="form-group" ng-show="checkUpload()">
                  <label>Select a file to upload:</label>
                  <input type="file" file-model="myFile"/>
                  <!-- <button type="button" class="btn btn-primary" value="Upload" ng-click="uploadFile()" ng-disabled="uploadButton"><i class="fa fa-upload-o"></i> Upload</button> -->
                  <input type="hidden" data-ng-model="filepath">


                </div>

              <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
