<!-- <section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="article.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="article.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="article.content"></p>
</section> -->
<!--
<div class="container" id="myWizard" data-ng-controller="ArticlesController" data-ng-init="findOne()">

   <h3>AngularJS + Bootstrap - Tabs with Progress Bar</h3>

   <hr>

   <div class="progress">
     <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 20%;">
       Step 1 of 5
     </div>
   </div>

   <div class="navbar">
      <div class="navbar-inner">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#step1" data-toggle="tab" data-step="1">Step 1</a></li>
               <li><a href="#step2" data-toggle="tab" data-step="2">Step 2</a></li>
               <li><a href="#step3" data-toggle="tab" data-step="3">Step 3</a></li>
               <li><a href="#step4" data-toggle="tab" data-step="4">Step 4</a></li>
               <li><a href="#step5" data-toggle="tab" data-step="5">Step 5</a></li>
            </ul>
      </div>
   </div>
   <div class="tab-content">
      <div class="tab-pane fade in active" id="step1">

        <div class="well">

            <label>Security Question 1</label>
            <select class="form-control input-lg">
              <option value="What was the name of your first pet?">What was the name of your first pet?</option>
              <option value="Where did you first attend school?">Where did you first attend school?</option>
              <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
              <option value="What is your favorite car model?">What is your favorite car model?</option>
            </select>
            <br>
            <label>Enter Response</label>
            <input class="form-control input-lg">

        </div>

         <a class="btn btn-default btn-lg next" href="" data-ng-click="goNext(1)">Continue</a>
      </div>
      <div class="tab-pane fade" id="step2">
         <div class="well">

            <label>Security Question 2</label>
            <select class="form-control  input-lg">
              <option value="What was the name of your first pet?">What was the name of your first pet?</option>
              <option selected="" value="Where did you first attend school?">Where did you first attend school?</option>
              <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
              <option value="What is your favorite car model?">What is your favorite car model?</option>
            </select>
            <br>
            <label>Enter Response</label>
            <input class="form-control input-lg">

         </div>
         <a class="btn btn-default" href="" data-ng-click="goNext(2)">Continue</a>
      </div>
      <div class="tab-pane fade" id="step3">
        <div class="well"> <h2>Step 3</h2> Add another step here..</div>
         <a class="btn btn-default next" href="" data-ng-click="goNext(3)">Continue</a>
      </div>
      <div class="tab-pane fade" id="step4">
        <div class="well"> <h2>Step 4</h2> Add another almost done step here..</div>
         <a class="btn btn-default next" href="" data-ng-click="goNext(4)">Continue</a>
      </div>
      <div class="tab-pane fade" id="step5">
        <div class="well"> <h2>Step 5</h2> You're Done!</div>
         <a class="btn btn-success first" href="" data-ng-click="goNext(0)">Start over</a>
      </div>
   </div>

   <hr>

   <a href="http://www.bootply.com/5HSxNiUnjL">Edit on Bootply</a>

   <hr>

</div>
<script type="text/javascript">
$(document).ready(function() {

	// use jQuery to update progress bar
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

		//update progress
		var step = $(e.target).data('step');
		var percent = (parseInt(step) / 5) * 100;

		$('.progress-bar').css({width: percent + '%'});
		$('.progress-bar').text("Step " + step + " of 5");

	});

});
</script> -->
<style>
.sliding-steps main,
.sliding-steps main .well {
  min-height: 500px;
  margin: 0;
}
.sliding-steps main {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

.sliding-steps main .well {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sliding-steps .form-step.ng-enter, .sliding-steps .form-step.ng-leave {
  -webkit-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}
.sliding-steps .step-forward .form-step.ng-enter {
  transform: translateX(100%);
}
.sliding-steps .step-forward .form-step.ng-enter.ng-enter-active {
  transform: translateX(0);
}
.sliding-steps .step-forward .form-step.ng-leave {
  /*transform: translateX(100%);*/
}
.sliding-steps .step-forward .form-step.ng-leave.ng-leave-active {
  transform: translateX(-100%);
}

.sliding-steps .step-backward .form-step.ng-enter {
  transform: translateX(-100%);
}
.sliding-steps .step-backward .form-step.ng-enter.ng-enter-active {
  transform: translateX(0);
}
.sliding-steps .step-backward .form-step.ng-leave {
  /*transform: translateX(100%);*/
}
.sliding-steps .step-backward .form-step.ng-leave.ng-leave-active {
  transform: translateX(100%);
}
</style>
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="article.title"></h1>
  </div>
  <multi-step-container steps="steps" class="sliding-steps simple-prev-next"  >
      <header>

      </header>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-md-4">
            <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
                <span class="fa fa-chevron-left"></span>
                Previous
            </button>
          </div>
          <div class="col-md-4">
            <h3 ng-bind-template="Pregunta {{$getActiveIndex()}}. {{$getActiveStep().title}}" style="text-align: center;margin:0;"></h3>
          </div>
          <div class="col-md-4" style="text-align: right;">
          <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
              Next
              <span class="fa fa-chevron-right"></span>
          </button>
        </div>
          <!-- <h3 class="panel-title">Título del panel con estilo h3</h3> -->
        </div>
        <div class="panel-body" style="padding:40px;">
          <main step-container></main>
        </div>
      </div>

  </multi-step-container>
</section>
