#player-container {
  width: 100%;
  position: relative;
  height: 400px;
}
div#myElement{width: 100% !important}

#player {
  position: absolute;
  left: 0;
}

#sidebar {
  /*position: absolute;
  top: 0;
  right: 0;
  width: 645px;
  height: 360px;
  background-color: #475470;
  font-family: Arial, sans-serif;*/
}
#sidebar h3 {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}
#searchbox {
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
}
#searchbox input {
  display: block;
  line-height: 20px;
  font-size: 13px;
  color: #000;
  width: 320px;
  padding: 5px 20px 5px 30px;
  background: #d9dde6 url('//s3.amazonaws.com/demo.jwplayer.com/interactive-transcript/search.png') no-repeat top left;
  border-radius: 3px;
  border: none;
}
#searchbox span {
  position: absolute;
  right: 10px;
  top: 6px;
  line-height: 20px;
  font-size: 13px;
  color: #000;
}
#transcript {
  height: 280px;
  overflow: auto;
  padding: 0 20px;
  margin-top: 60px;
}
#transcript p {
  margin: 0 0 10px 0;
  width: auto;
  text-align: left;
  font-size: 15px;
  color: #333;
  line-height: 20px;
}
#transcript span {
  display: inline;
  padding: 4px 2px;
  line-height: 24px;
  cursor: pointer;
  color: #333;
}
ul{list-style: none;}
ul li img{width: 32px;}
#transcript span.current {
  background: #00f096;
  color: #000;
}
#transcript span:hover {
  color: #00f096;
}
#transcript span em {
  font-style: normal;
  background: #666;
  color: #FFF;
}
#transcript span em.current {
  background: #ff0046;
}

#transcript h4 {
  margin: 0 0 5px 0;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

ol {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: 400;
}

ol li {
  text-align: left;
  padding: 10px 0;
}
