<section data-ng-controller="QuestionCaptionsController" data-ng-init="init()">
    <div class="page-header">
        <h1>New Question caption</h1>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <!-- <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="control-label" for="idVideo">video</label>
                    <div class="controls">
                      <select id="idVideo" class="form-control glowing-border" ng-model="idVideo" required>
                            <option style="color:gray" value="" disabled="true">Seleccione una opción</option>
                            <option ng-repeat="video in videos" value="{{video._id}}">{{video.name}}</option>
                      </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="typeQuestion">Type Question</label>
                    <div class="controls">

                      <select id="typeQuestion" class="form-control glowing-border" ng-model="typeQuestion" required>
                            <option style="color:gray" value="" disabled="true">Seleccione una opción</option>
                            <option  value="speech" > Speech </option>
                            <option  value="learn"> Learn </option>

                      </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="startSecond">Start Second</label>
                    <div class="controls">
                        <input type="number"  data-ng-model="startSecond" id="startSecond" class="form-control" placeholder="star second" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endSecond">End Second</label>
                    <div class="controls">
                        <input type="number"  data-ng-model="endSecond" id="endSecond" class="form-control" placeholder="end second" required>
                    </div>
                </div>
                <div class="form-group" ng-hide=" modRes2 = (typeQuestion === 'learn')">
                    <label class="control-label" for="startText">start text</label>
                    <div class="controls">
                        <input type="text" data-ng-model="startText" id="startText" class="form-control" placeholder="start text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="answerText">answer text</label>
                    <div class="controls">
                        <input type="text" data-ng-model="answerText" id="answerText" class="form-control" placeholder="answer text" required>
                    </div>
                </div>
                <div class="form-group" ng-hide="modRes2 = (typeQuestion === 'learn')">
                    <label class="control-label" for="endText">end text</label>
                    <div class="controls">
                        <input type="text" data-ng-model="endText" id="endText" class="form-control" placeholder="end text" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
