<section data-ng-controller="QuestionCaptionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Question captions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="questionCaption in questionCaptions" data-ng-href="#!/question-captions/{{questionCaption._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="questionCaption.created | date:'medium'"></span>
				by
				<span data-ng-bind="questionCaption.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="questionCaption.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!questionCaptions.$resolved || questionCaptions.length">
    	No Question captions yet, why don't you <a href="/#!/question-captions/create">create one</a>?
    </div>
</section>