<section data-ng-controller="QuestionCaptionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="questionCaption.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == questionCaption.user._id))">
		<a class="btn btn-primary" href="/#!/question-captions/{{questionCaption._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="questionCaption.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="questionCaption.user.displayName"></span>
		</em>
	</small>
</section>
