.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.video-content{margin: 35px 10px;}
.overlay1 form, .overlay2 form, .overlay3 form{
    text-align: center;
margin-top: 40px;
color: white;

}

.overlay-nw{
    position:absolute;
    top:0;
  padding-left:0px !important;
    z-index:1;
    background-color: transparent;
    padding: 25px;
    text-align: center;
}
.nav-tabs.nav-tabs-left > li{
    height: 120px;
        width: 105px;
            padding: 25px;
    text-align: center;
}

.button-content{display: none;float: none;margin: 0 auto;}
.overlay1 {
 
    top:0;
    left:15px;
    z-index:1;
    width: 18.7%;
    background-color: transparent;
    height: 330px;
    -webkit-box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
-moz-box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
display: none;
}
.overlay1:hover{
    background-color:rgb(102, 102, 102);
    -webkit-box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
-moz-box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
border-right: 1px solid rgba(50, 50, 50, 0.29);
border-left: 1px solid rgba(50, 50, 50, 0.29);
}
.overlay2 {

    top:0;
    left:20%;
    z-index:1;
    width: 18%;
    background-color: transparent;
     height: 330px;
     -webkit-box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
-moz-box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
display: none;
}
.overlay2:hover{
    background-color:rgb(102, 102, 102);
    -webkit-box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
-moz-box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
border-right: 1px solid rgba(50, 50, 50, 0.29);
border-left: 1px solid rgba(50, 50, 50, 0.29);
}
.overlay3 {
 
    top:0;
    left:38%;
    z-index:1;
    width: 18%;
    background-color: transparent;
     height: 330px;
     -webkit-box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
-moz-box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
box-shadow: inset -4px -121px 191px -82px rgba(36,36,36,1);
display: none;
}
.overlay3:hover{
    background-color:rgb(102, 102, 102);
    -webkit-box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
-moz-box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
box-shadow: inset 17px 10px 142px -9px rgba(82,82,82,0.42);
border-right: 1px solid rgba(50, 50, 50, 0.29);
border-left: 1px solid rgba(50, 50, 50, 0.29);
}
.overlay-button1{
  
    top:0;
    left:15px;
    z-index:2;
    width: 19%;
    background-color: rgb(66, 57, 57);
    border-radius: 0px 0px 15px 15px;
    padding: 5px 0px;
    text-align: center;
    color: white !important;
}
.overlay-button1:hover{
    background-color: rgb(165, 24, 24);
    -webkit-box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
-moz-box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
}

.overlay-button2 {
 
    top:0;
    left:20%;
    z-index:2;
    width: 18%;
     background-color: rgb(66, 57, 57);
    border-radius: 0px 0px 15px 15px;
    padding: 5px 0px;
    text-align: center;
     color: white !important;
}
.overlay-button2:hover{
    background-color: rgb(165, 24, 24);
    -webkit-box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
-moz-box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
}
.overlay-button3 {
 
    top:0;
    left:38%;
    z-index:2;
    width: 18%;
    background-color: rgb(66, 57, 57);
    border-radius: 0px 0px 15px 15px;
    padding: 5px 0px;
    text-align: center;
     color: white !important;
}
.overlay-button3:hover{
    background-color: rgb(165, 24, 24);
    -webkit-box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
-moz-box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
box-shadow: -4px 104px 35px -82px rgba(82,82,82,0.94);
}

body.fixed-header .header{    background: #1e2d58 !important;}

.talk{

        border-radius: 50%;
    padding: 4px 6px;
    font-size: 2.5em;
    border-width: 1px
}

.verb{
        background-color: rgba(0, 0, 0, 0.18);
    /* width: 30%; */
    /* padding-left: 4px; */
    font-size: 1.5em;
    padding: 2px 10px
        
}
.example{
        background-color: rgba(0, 0, 0, 0.18);
    width: 27%;
    padding-left: 4px;
}
.example-text{ font-style: oblique;}
.windows body, .windows p {
    font-size: 16px;}
.palabra button{background: #0055ad;padding: 1px 9px;color: white;margin-right: 2px; border-width: 1px}
.palabra button:hover{background: #b0d352}
.footer-video{background: #1e2d58 !important;padding: 15px 10px;}
.mean{height: 425px; overflow: auto;}
.nav-tabs-simple > li:after{background-color: #46528a !important;}