<section data-ng-controller="CaptionsController" data-ng-init="init()">
    <div class="page-header">
        <h1>New Caption</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="url">Url</label>
                    <div class="controls">
                        <input type="text" data-ng-model="url" id="url" class="form-control" placeholder="Url" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="video">video</label>
                    <div class="controls">

                      
                      <select id="idVideo" class="form-control glowing-border" ng-model="idVideo" required>
                            <option style="color:gray" value="" disabled="true">Seleccione una opción</option>
                            <option ng-repeat="video in videos" value="{{video._id}}">{{video.name}}</option>
                      </select>

                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
