<section data-ng-controller="CaptionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Captions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="caption in captions" data-ng-href="#!/captions/{{caption._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="caption.created | date:'medium'"></span>
				by
				<span data-ng-bind="caption.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="caption.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!captions.$resolved || captions.length">
    	No Captions yet, why don't you <a href="/#!/captions/create">create one</a>?
    </div>
</section>