<section data-ng-controller="ReplyAnswersController" data-ng-init="init()">
    <div class="page-header">
        <h1>New Reply answer</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Porcentaje de Respuesta</label>
                    <div class="controls">
                        <input type="text" data-ng-model="replyPorcent" id="replyPorcent" class="form-control" placeholder="replyPorcent" required>
                    </div>
                </div>
                <div class="form-group">
                  <select id="question" class="form-control glowing-border" ng-model="question" required>
                        <option style="color:gray" value="" disabled="true">Seleccione una opción</option>
                        <option ng-repeat="questionCaption in questionCaptions" value="{{questionCaption._id}}">{{questionCaption.answer_text}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
