<section data-ng-controller="ReplyAnswersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Reply answers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="replyAnswer in replyAnswers" data-ng-href="#!/reply-answers/{{replyAnswer._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="replyAnswer.created | date:'medium'"></span>
				by
				<span data-ng-bind="replyAnswer.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="replyAnswer.replyPorcent"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!replyAnswers.$resolved || replyAnswers.length">
    	No Reply answers yet, why don't you <a href="/#!/reply-answers/create">create one</a>?
    </div>
</section>
