<section data-ng-controller="SpeechesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Speeches</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="speech in speeches" data-ng-href="#!/speeches/{{speech._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="speech.created | date:'medium'"></span>
				by
				<span data-ng-bind="speech.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="speech.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!speeches.$resolved || speeches.length">
    	No Speeches yet, why don't you <a href="/#!/speeches/create">create one</a>?
    </div>
</section>