
<script src="js/jwplayer/jwplayer.js"></script>
<script>jwplayer.key="MjIaV8nxWXU5Nr2Z0tjMA0NNDNidazPbZ+LpvA==";</script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- </hea

<body> -->

<div id="player-container" data-ng-controller="SpeechesController" data-ng-init="findOne()">
	<div class="container">

	<!-- Step 3 Section-->
	<!-- First column of inputs -->
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div id="myElement" style="width:100%!important"></div>

				<button id="empezar" class="btn">Play <span class="glyphicon glyphicon-play"></span></button>
				<button id="pausar" class="btn">Pause <span class="glyphicon glyphicon-pause"></span></button>
				<button id="stop" class="btn">Stop <span class="glyphicon glyphicon-stop"></span></button>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h2>Repite la siguiente oracion.</h2>
					<button style="margin-bottom: 20px;" ng-click="EmpezarTest()" id="go" class="btn">Comenzar Test<span class="glyphicon "></span></button>
					<br>

				<div class="panel panel-default">
					<nav class="navbar navbar-inverse">
					<ul class="navbar-text">
						<li id="recordButton" onclick="startDictation(event)" class="button-row nav-inverse-color" style="cursor:pointer;">
						<img id="microphoneIcon" src="images/microphone.svg" class="icon">
						<span class="nav-label">Record Audio</span>
						</li>
					</ul>

					</nav>
					<div class="panel-heading">


						<div class="col-md-4">
							<button ng-disabled="$isFirst()" class="btn btn-default" ng-click="anteriorStep()">
									<span class="fa fa-chevron-left"></span>
									Previous
							</button>
						</div>

						<div class="col-md-4">
							<h3 ng-bind-template="Oracion {{$getActiveIndex()}}. {{$getActiveStep().title}}" style="text-align: center;margin:0;"></h3>
						</div>

						<div class="col-md-4" style="text-align: right;">
							<button ng-disabled="$isLast() " class="btn btn-default" ng-click="siguienteStep()" ng-click="$nextQuestion">
									Next
									<span class="fa fa-chevron-right"></span>
							</button>
						</div>
						<!-- <h3 class="panel-title">Título del panel con estilo h3</h3> -->
					</div>

					<div ng-repeat="a in answerData" ng-init="paso=$index;">
					<div class="panel-body" style="padding:40px;text-align: center;" ng-hide="stepsChange(paso)">
						<input type="hidden" class="idQuestion{{paso}}" value="{{a._id}}">
						<!-- <input/> -->
						<ul>
							<div class="progress">
							  <div id="progreso{{paso}}" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{buscarRespuesta(a._id)}}%">
							    40% Complete (success)
							  </div>
							</div>

								<span class="answer" numberP = "{{paso}}">{{a.answer_text}}	<br></span>


							<span id="final_span{{paso}}" class="interim2{{paso}}" name="lastName" ng-model="speechTextResp" ></span>

							<span id="interim_span2{{paso}}" class="interim2{{paso}}"></span>
						</ul>
					</div>
				</div>

					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 20%;">
					 <!-- Oracion {{$getActiveIndex()}} de {{$getSteps().length}} -->
					 <!-- {{model}} -->
				 </div>
				</div>
			</div>
		</div>
	</div>


<hr>



<div id="question"></div>
		<div class="container">

		<!-- Step 3 Section-->
		<!-- First column of inputs -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<!-- <h2>Repite la siguiente oracion.</h2> -->
			</div><!-- .col-lg-12 -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="audioParent">
						<audio style="display:none" class="audio" controls>
							Your browser does not support the audio element.
						</audio>
					</div>
				</div>
			</div><!-- row -->
			<!-- Tab panes -->
			<div class="row" style="  margin: 0;">
				<div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
					<div id="transcription_text" >
						<form autocomplete="off" class="form-horizontal">
							<div role="tabpanel">
								<div class="hr-tab"></div>
								<fieldset>
									<div class="row">
										<div class="col-lg-12">
											<div class="tab-content">
												<div role="tabpanel" class="tab-pane active" id="home2">
													<!-- {{model.firstName}} -->
												</div>
												<div role="tabpanel" class="tab-pane" id="profile2">
													<textarea readonly id="resultsJSON"></textarea>
												</div>
											</div>

										</div><!-- .col-lg-12 -->
									</div>
								</fieldset>
							</div>
						</form>
					</div>
				</div><!-- /.well -->
			</div><!-- /.tabpanel -->
			</div><!-- /.row -->
	</div><!-- /.container -->

</div>
<style>

</style>
<!-- <script src="js/jquery-1.11.3.min.js"></script> -->
<!-- <script src="js/index.js"></script> -->
<!-- <script src="js/constants.js"></script> -->
<!-- <script src="js/demo.js"></script> -->
<script type="text/javascript">
var running = false;
$(document).on('click','#recordButton',function(e){
	e.preventDefault();
// var running = false;
var recordButton = $('#recordButton');
// alert();

if (!running) {

			recordButton.find('img').css('background-color', '#d74108');
			recordButton.find('img').css('border-radius', '50%');
			recordButton.find('img').attr('src', 'images/stop.svg');
			running = true;

} else {

	recordButton.find('img').removeAttr('style');
	recordButton.find('img').attr('src', 'images/microphone.svg');
	running = false;
}
});

</script>
<script type="text/javascript">
var final_transcript = '';
var recognizing = false;



$(document).on('click', '#recordButton', function(event) {
	// event.preventDefault();
	// /* Act on the event */

	if ($('#microphoneIcon').attr('src') == "images/stop.svg") {
			return;
	}




});

if ('webkitSpeechRecognition' in window) {

 // var recognition = new webkitSpeechRecognition();
 var recognition = new webkitSpeechRecognition()


 recognition.continuous = true;
 recognition.interimResults = true;

 recognition.onstart = function() {
	//  e.preventDefault();
	// var running = false;
	var recordButton = $('#recordButton');

	// alert();
			 recordButton.find('img').css('background-color', '#d74108');
			 recordButton.find('img').css('border-radius', '50%');
			 recordButton.find('img').attr('src', 'images/stop.svg');
			//  running = true;

	 recognizing = true;
 };

 recognition.onerror = function(event) {
	//  console.log(event.error);
	 var recordButton = $('#recordButton');
	 recordButton.find('img').removeAttr('style');
	 recordButton.find('img').attr('src', 'images/microphone.svg');
 };



 recognition.onend = function() {
	 recognizing = false;
	 var rr;
	 $('.answer').each(function(e){
		 	if ($(this).parent().parent().hasClass('ng-hide')) {

		 	}else{
				rr = $(this);
			}
	 })

	 var pas = rr.attr('numberp');
	//  console.log('testtt '+pas);
	 var respuestaSpk = $('.interim2' + pas).text().trim().toLowerCase().split(' ');



	//  console.log(rr);
	 var answer = rr.text().trim().toLowerCase().split(' ');
	 var porcentaje = 100 / answer.length;
	 var idQuestion = $('.idQuestion'+pas).val();
	//  console.log(idQuestion);
	//  console.log(porcentaje);
	//  console.log(answer);
	//  console.log(respuestaSpk);

	 //valor del porcentaje
	 var total = 0;

	 $.each(respuestaSpk,  function(key, value) {
		//  console.log('valor:' + value);

			 if ($.inArray(value, answer) != -1) {
					 total += porcentaje;
			 }

	 });


	 console.log('id de la question: ' + idQuestion);
	 $('#progreso'+pas).css('width', total.toFixed(2).toString() + '%');
	 alert('su porcentaje es: '+total.toFixed(2));
	 $.post( "/reply-answers", { id_question: idQuestion, replyPorcent: total.toFixed(2) })
  .done(function( data ) {
    console.log( "Data Loaded: " + data );
  });

 };

 recognition.onresult = function(event) {
	 var interim_transcript = '';
	 for (var i = event.resultIndex; i < event.results.length; ++i) {
		 if (event.results[i].isFinal) {
			 final_transcript += event.results[i][0].transcript;
		 } else {
			 interim_transcript += event.results[i][0].transcript;
		 }
	 }
	 final_transcript = capitalize(final_transcript);

	 var rr;
	 $('.answer').each(function(e){
		 	if ($(this).parent().parent().hasClass('ng-hide')) {

		 	}else{
				rr = $(this);
			}
	 })

	 var pas = rr.attr('numberp');

	 $('#final_span' + pas).html(linebreak(final_transcript));
	 $('#interim_span2' + pas).html(linebreak(interim_transcript));


 };
}

var two_line = /\n\n/g;
var one_line = /\n/g;
function linebreak(s) {
 return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
}

function capitalize(s) {
 return s.replace(s.substr(0,1), function(m) { return m.toUpperCase(); });
}

function startDictation(event) {
 if (recognizing) {
	 recognition.stop();
	 return;
 }
 final_transcript = '';
 recognition.lang = 'en-US';
 recognition.start();
 // final_span.innerHTML = '';
 // interim_span2.innerHTML = '';
}
</script>
<script type="text/javascript">
$(document).ready(function() {



  });




$(document).on('click', '.captionDic', function(event) {
event.preventDefault();

jwplayer().pause();
var palabra = $(this).html();
var urlApi = "http://www.dictionaryapi.com/api/v1/references/collegiate/xml/"+ palabra+"?key=c6cd9542-bea9-4803-ba5d-7fbf1c250626"

$.get(urlApi)

$.ajax({
			type: "GET",
	url: urlApi,
	dataType: "xml",
	success: function(xml) {
		console.log(xml);
	}
});
});

$(document).on('click','#empezar',function(e){

jwplayer().play();

})

$(document).on('click','#pausar',function(e){

jwplayer().pause();

})

$(document).on('click','#stop',function(e){

jwplayer().stop();

})



$(document).on('click','#quiz',function(e){

e.preventDefault();

$('#question').html('alguien que tiene varias inteniciones de uno puede tratar de causar su <input id="answer1" type="text"/><br> <a id="contestar" href="#">CONTESTAR</a>')

timeControl(28,33);

})

$(document).on('click','#contestar',function(e){

e.preventDefault();
var respuesta = $('#answer1').val().trim();

if (respuesta == 'caida') {
	alert('correcto');
	jwplayer().play();
}else{
	alert('incorrecto')
}

})



function timeControl(start, end) {
			jwplayer().seek(start).onTime(function (event) {
					if(event.position >= end ) {
							this.stop();
					}
			});
	}

</script>
<script type="text/javascript" src="js/main.js"></script>
